<h1>Burgers!</h1>

<h2>Choose your burger!</h2>

<ul>
  {{#each burgers}}
    
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="brug">Burger?</label><br>
  </div>

  <button type="submit">Add Burger</button>
</form>
