body{
    font-family: 'Indie Flower', cursive;
    /* background-image: linear-gradient(to right, green,blue,indigo); */
    font-size: 30px;
    color: white;
    background-color:rgb(87, 0, 128);
    margin: 0 auto;
    text-align: center;

}
h1{
    font-weight: bold;
}
.change-devoured{
    background-color: green;
    color: white;
    text-align: center;
}
.addBurger{
    background-color: blue;
    color: white;
}
.burgerDevoured{
    opacity: 0.5;
}
h2{
    text-align: center;
}
.container{
    width: 1000px;
}
.row{
    width:100%;

justify-content: center;
margin: 0 auto;
}
.col-6{
    text-align: center;
}

li{
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .container {
      width: 100%;
    }
    img {
        width: 100%;
      }
  }